In [2]:
import pandas as pd

df = pd.read_csv("telco_churn_cleaned.csv")

# Feature engineering
df['AvgMonthlySpend'] = df['TotalCharges'] / (df['tenure'] + 1)

df.to_csv("telco_churn_featured.csv", index=False)
df.head()

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,...,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn,AvgMonthlySpend
0,1,0,1,0,1,0,0,0,1,0,...,0,1,0,0,1,2,20.0,20.0,1,10.000000
1,0,1,0,1,2,0,1,1,0,1,...,1,0,1,1,0,3,21.5,43.0,0,14.333333
2,1,0,1,0,3,0,0,2,1,0,...,0,1,0,2,1,0,23.0,69.0,1,17.250000
3,0,1,0,1,4,0,1,0,0,1,...,1,0,1,0,0,1,24.5,98.0,0,19.600000
4,1,0,1,0,5,0,0,1,1,0,...,0,1,0,1,1,2,26.0,130.0,1,21.666667